<h2>Web socket chat</h2>
<script>
    var webSocket;

    function connect() {
        webSocket = new WebSocket('ws://localhost/api/ws/chat');

        webSocket.onmessage = function receiveMessage(response) {
            console.log(response);
            let data = response['data'];
            let message = JSON.parse(data);
            console.log(message);
            switch (message.type) {
                case "MESSAGE":
                    let textMessage = JSON.parse(message.data);
                    $("#mes").append("<div class=''>" +
                        textMessage.date + " " + (textMessage.user == null ? "" : textMessage.user.login) + ":  " + textMessage.data +
                        "</div>");
                    break;
                case "ERROR":
                    $.notify("Ошибка сервера",{
                        type: 'danger',
                        animate: {
                            enter: 'animated lightSpeedIn',
                            exit: 'animated lightSpeedOut'
                        }
                    });
                    break;
                default:
                    console.log("UNKNOWN MESSAGE TYPE");
                    console.log(message);
            }
        };

        webSocket.onerror = function errorShow() {
            console.log('Ошибка авторизации');
        }
        return webSocket;
    }

    function sendMess() {
        let text = $("#text").val();
        let payload = {
            data: text
        };

        webSocket.send(JSON.stringify(payload));
    }
    connect();
</script>