body {
  margin: 0;
  padding: 0;
  background: #000;
}
body #cat {
  width: 100%;
  height: 100%;
  position: fixed;
  text-align: right;
}
body #cat .eye {
  position: fixed;
}
body #cat #eye1 {
  margin: 155px 120px;
}
body #cat #eye2 {
  margin: 185px 220px;
}
