body
  margin 0
  padding 0
  background black
  #cat
    width 100%
    height 100%
    position fixed
    text-align right
    .eye
      position fixed

    #eye1
      margin 155px 120px
    #eye2
      margin 185px 220px
